* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

$container: 1140px;
$primary-color: #e67700;
$secondary-color: #5c940d;
$grey-color: #adb5bd;
$white-color: #fff;

@mixin flexCenterStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin wrapperContainer {
  width: $container;
  margin: 0 auto;
}
